.menu{
    background-color:rgb(56, 110, 92);
    color: whitesmoke;
    overflow: hidden;
    opacity: 0.8;
    font-family: monospace, "Lucida Console", Times, serif;
}
table{
    width: 100%;
    border: 1px solid rgb(71,45,48);
    color: rgb(71,45,48);
  }

  th, td{
    border: 1px solid rgb(71,45,48);
    padding: 8px;
  }

body{
    background-color:rgb(241,227,228);
    color: rgb(71,45,48);
    font-family: monospace, "Lucida Console", Times, serif;
    
}

.headers{
    text-rendering:geometricPrecision;
    color: rgb(226,109,92);
    font-family: monospace, "Lucida Console", Times, serif;
}

.menu a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: monospace, "Lucida Console", Times, serif;
  }

  .menu a:hover {
    background-color: rgb(201,203,163);
    color: #472d30;
  }
  